<div class="fb-main-grid-wrapper" data-fb-pagetype="<%= @page.type %>">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <%= render partial:'metadata_presenter/component/conditional_component_banner'%>

        <h1 class="fb-editable govuk-heading-xl"
          data-fb-content-type="element"
          data-fb-content-id="page[heading]"
          data-fb-default-value="<%= default_page_title(@page.type) %>">
          <%= @page.heading %>
        </h1>

      <%= form_for @page, url: reserved_submissions_path, authenticity_token: false, html: { id: 'answers-form' } do |f| %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

        <%= render partial: 'metadata_presenter/component/components',
                   locals: {
                   f: f,
                   components: @page.extra_components,
                   tag: nil,
                   classes: nil,
                   input_components: @page.supported_input_components,
                   content_components: @page.supported_content_components
                 } %>

        <dl class="fb-block fb-block-answers govuk-summary-list">
          <% pages_presenters.each do |page_answers_presenters| %>
            <% page_answers_presenters.each_with_index do |page_answers_presenter, index| %>

              <% if page_answers_presenter.display_heading?(index) %>
        </dl>

        <h2 class="govuk-heading-m"><%= page_answers_presenter.page.heading %></h2>

        <dl class="fb-block fb-block-answers govuk-summary-list">
              <% end %>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  <%= page_answers_presenter.humanised_title %>
                </dt>

                <dd class="govuk-summary-list__value">
                  <%= page_answers_presenter.answer %>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <%= link_to(
                    editable? ? '#' : change_answer_path(url: page_answers_presenter.url),
                    class: 'govuk-link'
                  ) do %>
                    <%= t('presenter.actions.change_html', question: page_answers_presenter.humanised_title) %>
                  <% end %>
                </dd>
              </div>

              <% if page_answers_presenter.last_multiple_question?(index, page_answers_presenters.size) %>
        </dl>
        <dl class="fb-block fb-block-answers govuk-summary-list">
              <% end %>
            <% end %>
          <% end %>
        </dl>

        <% if @page.send_heading.present? %>
            <h2 class="fb-send-heading fb-editable govuk-heading-m"
              data-fb-content-type="element"
              data-fb-content-id="page[send_heading]">
              <%= @page.send_heading %>
            </h2>
        <% end %>

        <% if @page.send_body.present? %>
          <editable-content id="<%= "page[send_body]" %>"
                            class="fb-editable fb-send-body govuk-body"
                            type="content"
                            default-content="<%= default_text('body') %>"
                            content="<%= @page.send_body %>"
                            data-fb-content-id="<%= "page[send_body]" %>">
              <div class="html">
                <%= to_html(@page.send_body) %>
              </div>
          </editable-content>
        <% end %>

        <%= render partial: 'metadata_presenter/component/components',
                   locals: {
                   f: f,
                   components: @page.components,
                   tag: nil,
                   classes: nil,
                   input_components: @page.supported_input_components,
                   content_components: @page.supported_content_components
                 } %>

        <% if confirmation_email_enabled? %>
          <% if confirmation_email.present? %>
            <%= I18n.t('presenter.confirmation.email_basic_disclaimer_html', email_provided: content_tag(:b, confirmation_email)).html_safe %>
          <%end%>
        <%end%>
        <br><br>
        <div class="govuk-button-group">
          <button <%= 'aria-disabled=true' if editable? %> data-prevent-double-click="true" class="fb-block fb-block-actions govuk-button" data-module="govuk-button" data-block-id="actions" data-block-type="actions">
            <%= t('presenter.actions.submit') -%>
          </button>
          <% if save_and_return_enabled? %>
            <% if editor_preview? || editable? %>
              <%= button_to t('presenter.save_and_return.actions.save'), '/', params: { page_slug:request.env['PATH_INFO'] }, method: :post, class: "govuk-button govuk-button--secondary", name: 'save_for_later_check_answers', disabled: true %>
            <% else %>
              <%= button_to t('presenter.save_and_return.actions.save'), '/', params: { page_slug:request.env['PATH_INFO'] }, method: :post, class: "govuk-button govuk-button--secondary", name: 'save_for_later_check_answers', value: 'true' %>
            <% end %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>
