<div class="fb-main-grid-wrapper" data-fb-pagetype="<%= @page.type %>">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% if @page.section_heading -%>
        <p class="fb-editable govuk-caption-l fb-section_heading"
           data-fb-content-type="element"
           data-fb-content-id="page[section_heading]">
          <%= @page.section_heading.html_safe %>
        </p>
      <%- end %>

      <% if @page.heading %>
        <h1 class="fb-editable govuk-heading-xl"
            data-fb-content-id="page[heading]"
            data-fb-content-type="element">
          <%= @page.heading.html_safe %>
        </h1>
      <% end %>

      <% if @page.lede %>
        <div class="fb-editable govuk-body-l"
             data-fb-content-id="page[lede]"
             data-fb-content-type="content">
          <%= @page.lede.html_safe %>
        </div>
      <%- end %>

      <% if @page.body %>
        <div class="fb-editable"
             data-fb-content-id="page[body]"
             data-fb-content-type="content">
          <%= to_markdown(@page.body) %>
        </div>
      <%- end %>

      <%= form_for @page_answers, as: :answers, url: @page.url, method: :post do |f| %>
        <%= f.govuk_error_summary %>

        <% @page.components.each_with_index do |component, index| %>
          <div class="fb-editable"
               data-fb-content-type="<%= component._type %>"
               data-fb-content-id="<%= "page[components[#{index}]]" %>"
               data-fb-content-data="<%= component.to_json %>">
            <%= render partial: component, locals: {
              component: component,
              f: f,
              input_title: main_title(component: component) }
            %>
          </div>
        <% end %>

        <%= f.govuk_submit(disabled: editable?) %>
      <% end %>
    </div>
  </div>
</div>
