<div class="fb-main-grid-wrapper" data-fb-pagetype="<%= @page.type %>">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <%= render partial:'metadata_presenter/component/conditional_component_banner'%>

      <%= render 'metadata_presenter/attribute/section_heading' %>

        <h1 class="fb-editable govuk-heading-xl"
          data-fb-content-id="page[heading]"
          data-fb-content-type="element"
          data-fb-default-value="<%= default_page_title(@page.type) %>">
          <%= @page.heading %>
        </h1>

      <%= render 'metadata_presenter/attribute/lede' %>

      <%= form_for @page_answers, as: :answers, url: @page.url, method: :post, authenticity_token: false do |f| %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        

        <%= render partial: 'metadata_presenter/component/components',
                   locals: {
                     f: f,
                     components: @page.components,
                     tag: nil,
                     classes: nil,
                     input_components: @page.supported_input_components,
                     content_components: @page.supported_content_components
                   } %>
      <% end %>
    </div>
  </div>
</div>
