<div class="fb-main-grid-wrapper" data-block-id="<%= @page.id %>" data-block-type="page" data-block-pagetype="<%= @page.type %>">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <%= render 'metadata_presenter/attribute/section_heading' %>

      <h1 class="govuk-heading-xl"><%= @page.heading %></h1>

      <%= form_for @page_answers, as: :answers, url: @page.url, method: :post do |f| %>
        <%= f.govuk_error_summary %>
        <% @page.components.each_with_index do |component, index| %>
          <div class="fb-editable"
               id="<%= component.id %>"
               data-fb-content-type="<%= component.type %>"
               data-fb-content-id="<%= "page[components[#{index}]]" %>"
               data-fb-content-data="<%= component.to_json %>">

            <%= render partial: component, locals: {
              component: component,
              component_id: "page[components[#{index}]]",
              f: f,
              input_title: main_title(
                component: component,
                tag: :h2,
                classes: 'govuk-heading-m govuk-!-margin-top-8'
              ) }
            %>
          </div>
        <% end %>

        <%= f.govuk_submit(disabled: editable?) %>
      <% end %>
    </div>
  </div>
</div>
