<div class="fb-main-grid-wrapper" data-fb-pagetype="<%= @page.type %>">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <%= render 'metadata_presenter/attribute/section_heading' %>
      <%= render 'metadata_presenter/attribute/heading' %>

      <%= form_for @page_answers, as: :answers, url: @page.url, method: :post do |f| %>
        <%= f.govuk_error_summary %>

        <%= render partial: 'metadata_presenter/component/components', locals: {
            f: f,
            components: @page.components,
            tag: :h2,
            classes: 'govuk-heading-m govuk-!-margin-top-8',
            input_components: @page.supported_input_components,
            content_components: @page.supported_content_components
          }
        %>

        <%= f.govuk_submit(disabled: editable?) %> <% if ENV['SAVE_AND_RETURN'] == 'enabled' %><a href="<%= save_path %>" class="govuk-button" data-module="govuk-button" data-component="save-button"><%= t('presenter.save_and_return.save') %></a><% end %>
      <% end %>
    </div>
  </div>
</div>
