<div class="fb-main-grid-wrapper" data-fb-pagetype="<%= @page.type %>">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <%= render partial:'metadata_presenter/component/conditional_component_banner'%>

      <%= render 'metadata_presenter/attribute/section_heading' %>
      <%= render 'metadata_presenter/attribute/heading' %>

      <%= form_for @page_answers, as: :answers, url: @page.url, method: :post, authenticity_token: false do |f| %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        <%= f.govuk_error_summary %>

        <%= render partial: 'metadata_presenter/component/components', locals: {
            f: f,
            components: @page.components,
            tag: :h2,
            classes: 'govuk-heading-m',
            input_components: @page.supported_input_components,
            content_components: @page.supported_content_components
          }
        %>
        <div class="govuk-button-group">
          <%= f.govuk_submit(disabled: editable?) %>
          <% if save_and_return_enabled? && show_save_and_return %>
            <% if editor_preview? || editable? %>
              <%= button_to t('presenter.save_and_return.save'), '/', params: { page_slug:request.env['PATH_INFO'] }, method: :post, class: "govuk-button govuk-button--secondary", name: 'save_for_later', disabled: true %>
            <% else %>
              <%= button_to t('presenter.save_and_return.save'), '/', params: { page_slug:request.env['PATH_INFO'] }, method: :post, class: "govuk-button govuk-button--secondary", name: 'save_for_later' , value: 'true' %>
            <% end %>
          <% end %>        </div>
      <% end %>
    </div>
  </div>
</div>
