<div class="fb-main-grid-wrapper" data-block-id="<%= @page.id %>" data-block-type="page" data-block-pagetype="<%= @page.type %>">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= form_for @page_answers, as: :answers, url: @page.url, method: :post do |f| %>
        <%= f.govuk_error_summary %>

        <% @page.components.each_with_index do |component, index| %>
          <div class="fb-editable"
               data-fb-content-type="<%= component._type %>"
               data-fb-content-id="<%= "page[components[#{index}]]" %>"
               data-fb-content-data="<%= component.to_json %>">
            <%= render partial: component, locals: {
              component: component,
              f: f,
              input_title: main_h1(component) }
            %>
          </div>
        <% end %>

        <%= f.govuk_submit(disabled: editable?) %>
      <% end %>
    </div>
  </div>
</div>
