<div class="fb-main-grid-wrapper" data-fb-pagetype="<%= @page.type %>">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <% if editor_preview? && use_external_start_page? && first_page? %>
      <%= render 'metadata_presenter/attribute/external_start_page_info' %>
    <% end %>

      <%= render 'metadata_presenter/attribute/section_heading' %>

      <%= form_for @page_answers, as: :answers, url: @page.url, method: :post, authenticity_token: false do |f| %>
        <%= f.govuk_error_summary(t('presenter.errors.summary_heading')) %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        <% @page.components.each_with_index do |component, index| %>
          <div class="fb-editable"
               data-fb-content-type="<%= component._type %>"
               data-fb-content-id="<%= "page[components[#{index}]]" %>"
               data-fb-content-data="<%= component.to_json %>"
               data-fb-default-value="<%= default_title(component.type) %>"
               data-fb-default-item-value="<%= default_item_title(component.type) %>">
            <%= render partial: component, locals: {
              component: component,
              f: f,
              input_title: main_title(component: component) }
            %>
          </div>
        <% end %>

        <div class="govuk-button-group">
          <%= f.govuk_submit(t('presenter.actions.continue'), disabled: editable?) %>

          <% if save_and_return_enabled? && show_save_and_return %>
            <% if editor_preview? || editable? %>
              <%= button_to t('presenter.save_and_return.actions.save'), '/', params: { page_slug:request.env['PATH_INFO'] }, method: :post, class: "govuk-button govuk-button--secondary", name: 'save_for_later', disabled: true %>
            <% else %>
              <%= button_to t('presenter.save_and_return.actions.save'), '/', params: { page_slug:request.env['PATH_INFO'] }, method: :post, class: "govuk-button govuk-button--secondary", name: 'save_for_later', value: 'true' %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
