<div class="fb-main-grid-wrapper" data-fb-pagetype="<%= @page.type %>">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <% if @page.id == 'page.cookies' %>
        <% if editable? %>
          <%= govuk_notification_banner(title_text: t('notification_banners.important')) do |nb|
              nb.with_heading(text: t('notification_banners.cookies.heading'))
          end %>
        <% end %>
       <%# TEMPORARY WORKAROUND: Centralise Cookie page content %>
       <h1 class="govuk-heading-xl">
         <%= t('presenter.footer.cookies.heading') %>
       </h1>

       <div data-fb-content-type="static">
         <%= to_html t('presenter.footer.cookies.body') %>
       </div>

     <% else %>
        <% if editable? && @page.contains_placeholders? %>
          <%= govuk_notification_banner(title_text: t('notification_banners.important')) do |nb|
            nb.with_heading(
              text: t("notification_banners.#{@page.id.gsub('page.','')}.heading"),
              link_text: t("notification_banners.#{@page.id.gsub('page.','')}.link_text"),
              link_href: t("notification_banners.#{@page.id.gsub('page.','')}.link_href")
            )
          end %>
        <% end %>
       <%# ORIGINAL TEMPLATE: Uses content from form metadata %>
       <% if @page.heading %>
         <h1 class="fb-editable govuk-heading-xl"
             data-fb-content-id="page[heading]"
             data-fb-content-type="element"
             data-fb-default-value="<%= t("presenter.footer.#{@page.id.gsub('page.','')}.heading") %>">
           <%= @page.heading %>
         </h1>
       <% end %>
       <%= render 'metadata_presenter/attribute/body' %>

     <% end %>

    </div>
  </div>
</div>
