<div class="fb-main-grid-wrapper" data-block-id="<%= @page.id %>" data-block-type="page" data-block-pagetype="<%= @page.type %>">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% if @page.section_heading -%>
        <p class="govuk-caption-l fb-section_heading" data-block-id="<%= @page.id %>" data-block-property="section_heading">
          <%= @page.section_heading.html_safe %>
        </p>
      <%- end %>

      <% if @page.heading %>
        <h1 class="<%= @page.heading_class %>" data-block-id="<%= @page.id %>" data-block-property="heading">
          <%= @page.heading.html_safe %>
        </h1>
      <% end %>

      <% if @page.lede %>
        <p class="govuk-body-l" data-block-id="<%= @page.id %>" data-block-property="lede">
          <%= @page.lede.html_safe %>
        </p>
      <%- end %>

      <% if @page.body %>
        <p class="govuk-body-l" data-block-id="<%= @page.id %>" data-block-property="lede">
        <%= to_markdown(@page.body) %>
        </p>
      <%- end %>

      <%= form_tag(reserved_answers_path(@page.url), method: :post) do %>
        <button class='govuk-button govuk-button--start govuk-!-margin-top-2'>
        Start
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </button>
      <% end %>
    </div>
  </div>
</div>
