<div class="fb-main-grid-wrapper" data-fb-pagetype="<%= @page.type %>">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <%= render 'metadata_presenter/attribute/section_heading' %>
      <%= render 'metadata_presenter/attribute/heading' %>
      <%= render 'metadata_presenter/attribute/lede' %>
      <%= render 'metadata_presenter/attribute/body' %>

      <%= form_tag(root_path, method: :post) do %>
        <button <%= 'disabled' if editable? %> class='govuk-button govuk-button--start govuk-!-margin-top-2'>
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </button>
      <% end %>

      <% if @page.before_you_start %>
        <div class="fb-editable"
             data-fb-content-id="page[before_you_start]"
             data-fb-content-type="content">
          <%= to_markdown(@page.before_you_start) %>
        </div>
      <%- end %>
    </div>
  </div>
</div>
