<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="govuk-template">
  <head>
    <meta charset="utf-8">
    <title><%= form_page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="robots" content="noindex">
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="<%= asset_pack_url('media/images/favicon.ico') %>" type="image/x-icon" />
    <link rel="mask-icon" href="<%= asset_pack_url('media/images/govuk-icon-mask.svg') %>" color="blue">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_pack_url('media/images/govuk-icon-180.png') %>">
    <link rel="apple-touch-icon" sizes="167x167" href="<%= asset_pack_url('media/images/govuk-icon-192.png') %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_pack_url('media/images/govuk-icon-512.png') %>">

    <%= javascript_pack_tag 'runner_application', 'govuk', defer: true %>
    <%= stylesheet_pack_tag 'govuk', 'runner_application', media: 'all' %>

    <% if allow_analytics? %>
      <%= render template: 'metadata_presenter/analytics/analytics' %>
    <% end %>
  </head>

  <body class="govuk-template__body">
    <script nonce=<%= request.content_security_policy_nonce %>>
     document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>


    <div class="govuk-modal-dialogue-inert-container">
      <% if show_cookie_request? %>
        <%= render partial: 'metadata_presenter/analytics/cookie_banner_request' %>
      <% end %>
      <% if show_cookie_confirmation? %>
        <%= render partial: 'metadata_presenter/analytics/cookie_banner_confirmation' %>
      <% end %>

      <%= render template: 'metadata_presenter/header/show' %>

      <div class="govuk-width-container govuk-body-m">
        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
          <% if back_link.present? %>
            <a class="govuk-back-link" href="<%= back_link %>"><%= t('presenter.back') %></a>
          <% end %>
          <% if !allowed_page? %>
            <%= render partial: 'metadata_presenter/session/timeout_fallback' %>
          <% end %>
          <%= yield %>
        </main>
      </div>

      <%= render template: 'metadata_presenter/footer/footer' %>
    </div>

    <% if !allowed_page? %>
      <%= render partial: 'metadata_presenter/session/timeout_warning_modal' %>
    <% end %>
  </body>
</html>
