<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= service.service_name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="<%= asset_pack_url('media/images/favicon.ico') %>" type="image/x-icon" />
  <link rel="mask-icon" href="<%= asset_pack_url('media/images/govuk-mask-icon.svg') %>" color="blue">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_pack_url('media/images/govuk-apple-touch-icon-180x180.png') %>">
  <link rel="apple-touch-icon" sizes="167x167" href="<%= asset_pack_url('media/images/govuk-apple-touch-icon-167x167.png') %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_pack_url('media/images/govuk-apple-touch-icon-152x152.png') %>">
  <link rel="apple-touch-icon" href="<%= asset_pack_url('media/images/govuk-apple-touch-icon.png') %>">

    <%= stylesheet_pack_tag 'govuk' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= render template: 'metadata_presenter/analytics/analytics' %>
  </head>

  <body class="govuk-template__body">
    <% if show_cookie_banner? %>
      <%= render partial: 'metadata_presenter/analytics/cookie_banner' %>
    <% end %>

    <%= render template: 'metadata_presenter/header/show' %>
    <div class="govuk-width-container govuk-body-m">
      <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
      <% if back_link.present? %>
        <a class="govuk-back-link" href="<%= back_link %>">Back</a>
      <% end %>

        <%= yield %>
      </main>
    </div>
    <%= render template: 'metadata_presenter/footer/footer' %>

    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'govuk' %>
  </body>
</html>
