<div class="components" data-controller="orderable-items">
  <% components.each_with_index do |component, index| %>
    <% if component.type == 'content' %>
      <% next unless (editable? || @page.show_conditional_component?(component.uuid) || single_page_preview?) %>
          <editable-content id="<%= component.id %>"
                            class="fb-editable govuk-!-margin-top-8"
                            type="<%= component.type %>"
                            default-content="<%= default_text('content') %>"
                            content="<%= component.content %>"
                            data-fb-content-id="<%= "page[#{component.collection}[#{index}]]" %>"
                            data-config="<%= component.to_json %>"
                            data-conditional-api-path="<%= editable? ? URI.decode_www_form_component(api_service_edit_conditional_content_path(service.service_id, component.uuid)) : '' %>"
                            data-controller="orderable-item component"
                            data-orderable-item-order-value="<%= component.order || index %>"
                            data-orderable-items-target="orderableItem"
                            data-action="orderable-item:move->orderable-items#reorder 
                                         orderable-item:move->component#focus
                                         orderable-item:orderUpdated->component#update 
                                         questionRemove->component#destroy" 
                            data-orderable-item-moving-class="moving">
                <div class="html">
                  <%= to_html(component.content) %>
                </div>
          </editable-content>
    <% else %>
      <div class="fb-editable govuk-!-margin-top-8"
           id="<%= component.id %>"
           data-fb-content-type="<%= component.type %>"
           data-fb-content-id="<%= "page[#{component.collection}[#{index}]]" %>"
           data-fb-content-data="<%= component.to_json %>"
           data-fb-default-value="<%= default_title(component.type) %>"
           data-fb-default-item-value="<%= default_item_title(component.type) %>"
           data-controller="orderable-item component"
           data-orderable-item-order-value="<%= component.order || index %>"
           data-orderable-items-target="orderableItem"
           data-action="orderable-item:move->orderable-items#reorder 
                        orderable-item:move->component#focus
                        orderable-item:orderUpdated->component#update 
                        questionRemove->component#destroy" 
           data-orderable-item-moving-class="moving">

           <%= render partial: component, locals: {
             f: f,
             component: component,
             component_id: "page[#{component.collection}[#{index}]]",
             input_title: main_title(
               component: component,
               tag_name: :h2,
               classes: classes
             )
           }
         %>
      </div>
    <% end %>
  <% end %>
</div>
