<% @page.components.each_with_index do |component, index| %>
  <div class="fb-editable"
        id="<%= component.id %>"
        data-fb-content-type="<%= component.type %>"
        data-fb-content-id="<%= "page[components[#{index}]]" %>"
        data-fb-content-data="<%= component.to_json %>">

    <%= render partial: component, locals: {
        f: f,
        component: component,
        component_id: "page[components[#{index}]]",
        input_title: main_title(
          component: component,
          tag: :h2,
          classes: classes
        )
      }
    %>
  </div>
<% end %>

<% if editable? %>
  <ul class="component-activated-menu govuk-navigation editor-button govuk-button fb-govuk-button">
    <% if input_components.present? %>
      <ul>
        <% input_components.each do |component| %>
          <li><a href="#add-input-component" data-component-type="<%= component %>"></a>+ Add <%= component %> component</li>
        <% end %>
      </ul>
    <% end %>

    <% if content_components.present? %>
      <ul>
        <% content_components.each do |component| %>
          <li><a href="#add-content-component" data-component-type="<%= component %>">+ Add <%= component %> component</a></li>
        <% end %>
      </ul>
    <% end %>
  </ul>
<% end %>
