<label for="<%= component.id %>" class="govuk-heading-xl"><%= input_title %></label>

<% if answered?(component.id) && @page_answers.send(component.id)[component.id].compact.count.positive? %>
  <label for="uploaded-file-summary-list"><p class="govuk-heading-s"><%= uploads_count %></p>
  <span class="govuk-hint" id="answers-dog-picture-upload-1-hint" data-fb-default-text="<%= default_text('upload_hint') %>">
  </span>
  <dl id="uploaded-file-summary-list" class="fb-block fb-block-answers govuk-summary-list">
    <% files_to_render.each do |previous_file| %>
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
          <%= previous_file['original_filename'] %>
        </dt>
        <dd class="govuk-summary-list__actions">
          <%= link_to t('presenter.questions.multiupload.remove_file'), remove_multifile_path(component.id, previous_file['uuid']), class: 'govuk-link', alt: t('presenter.questions.multiupload.remove_file_alt_text', filename: previous_file['original_filename']) %>
        </dd>
      </div>
    <% end %>
  <dl>
<% end %>

<% if editable? %>
  <% if editor_preview? && answered?(component.id) %>
      <p><%= t('presenter.questions.multiupload.none') %></p>
  <% else %>
    <p><%= component.validation['max_files'].to_i == 1 ? t('presenter.questions.multiupload.singular') : t('presenter.questions.multiupload.plural', num: component.validation['max_files']) %></p>
  <% end %>
<% else %>
  <p><%= multiupload_files_remaining %></p>
<% end %>

<% if uploads_remaining.positive? || editable? %>
  <div data-multiupload-element="upload-another-file" <%= answered?(component.id) && @page_answers.send(component.id)[component.id].compact.count.positive? ? 'hidden' : '' %>>
    <%= f.govuk_file_field component.id.to_sym,
      label: { text: t('presenter.questions.multiupload.add_another'), hidden: editable? },
      hint: {
        data: { "fb-default-text" => default_text('upload_hint') },
        text: component.hint.present? ? component.hint : ''
      },
      accept: component.validation['accept'],
      disabled: editable?
    %>
  </div>
<% end %>

<% if answered?(component.id) && uploads_remaining.positive? && @page_answers.send(component.id)[component.id].compact.count.positive? %>
  <button class="govuk-button govuk-button--secondary" data-multiupload-element="add-another-file"><%= t('presenter.questions.multiupload.add_another') %></button>
<% end %>
