<label class="govuk-heading-xl"><%= input_title %></label>

<% if answered?(component.id) %>
  <p class="govuk-heading-s"><%= uploads_count %></p>
  <span class="govuk-hint" id="answers-dog-picture-upload-1-hint" data-fb-default-text="<%= default_text('upload_hint') %>">
  </span>
  <dl class="fb-block fb-block-answers govuk-summary-list">
    <% @page_answers.send(component.id)[component.id].compact.each do |previous_file| %>
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
          <%= previous_file['original_filename'] %>
        </dt>
        <dd class="govuk-summary-list__actions">
          <%= link_to t('presenter.questions.multiupload.remove_file'), remove_multifile_path(component.id, previous_file['uuid']), class: 'govuk-link' %>
        </dd>
      </div>
    <% end %>
  <dl>
<% end %>

<% if uploads_remaining.positive? %>
  <div data-multiupload-element="upload-another-file" hidden>
    <%= f.govuk_file_field component.id.to_sym,
      label: { hidden: true },
      hint: {
        data: { "fb-default-text" => default_text('upload_hint') },
        text: component.hint.present? ? component.hint : default_text('upload_hint')
      },
      accept: component.validation['accept'],
      disabled: editable?
    %>
  </div>

  <% if editor_preview? || editable? %>
    <div class="govuk-button govuk-button--secondary" data-multiupload-element="add-another-file"><%= t('presenter.questions.multiupload.add_another') %></div>
  <% else %>
    <div class="govuk-button govuk-button--secondary" data-multiupload-element="add-another-file"><%= t('presenter.questions.multiupload.add_another') %></div>
  <% end %>
<% end %>

<% if editable? %>
  <p><%= t('presenter.questions.multiupload.plural', num: component.validation['max_files']) %></p>
<% else %>
  <p><%= multiupload_files_remaining %></p>
<% end %>
