<label for="upload-another-file" class="govuk-heading-xl"><%= input_title %></label>

<% if answered?(component.id) && @page_answers.send(component.id)[component.id].compact.count.positive? %>
  <label id="uploaded-file-summary-list-label"><p class="govuk-heading-s"><%= uploads_count %></p></label>

  <dl id="uploaded-file-summary-list" class="fb-block fb-block-answers govuk-summary-list" aria-labelled-by="uploaded-file-summary-list-label">
    <% files_to_render.each do |previous_file| %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
          <%= previous_file['original_filename'] %>
        </dt>
        <dd class="govuk-summary-list__actions">
          <%= link_to "#{t('presenter.questions.multiupload.remove_file')}<span class=\"govuk-visually-hidden\">#{previous_file['original_filename']}</span>".html_safe, remove_multifile_path(component.id, previous_file['uuid']), class: 'govuk-link' %>
        </dd>
      </div>
    <% end %>
  </dl>
<% end %>

<% if uploads_remaining.positive? || editable? %>
  <div data-multiupload-element="upload-another-file" <%= answered?(component.id) && @page_answers.send(component.id)[component.id].compact.count.positive? ? 'hidden' : '' %>>
    <%= f.govuk_file_field component.id.to_sym,
    hint: {
      data: { "fb-default-text" => default_text('option_hint') },
      text: component.hint.present? ? component.hint : ''
    },
    accept: component.validation['accept'],
    disabled: editable?,
    label: -> do %>
      <% if answered?(component.id) && @page_answers.send(component.id)[component.id].compact.count.positive? && !editable? %>
        <h3 class="govuk-heading-s"><%= t('presenter.questions.multiupload.add_another') %></h3>
      <% else %>
        <h3 class="govuk-heading-s" style="display: none"><%= t('presenter.questions.multiupload.add_another') %></h3>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if editable? %>
  <% if editor_preview? && answered?(component.id) %>
      <p><%= t('presenter.questions.multiupload.none') %></p>
  <% else %>
    <p><%= component.validation['max_files'].to_i > 1 ? t('presenter.questions.multiupload.plural', num: component.validation['max_files']) : '' %></p>
  <% end %>
<% else %>
  <p><%= component.validation['max_files'].to_i > 1 || uploads_remaining == 0 ? multiupload_files_remaining : '' %></p>
<% end %>

<% if answered?(component.id) && uploads_remaining.positive? && @page_answers.send(component.id)[component.id].compact.count.positive? %>
  <button class="govuk-button govuk-button--secondary" data-multiupload-element="add-another-file"><%= t('presenter.questions.multiupload.add_another') %></button>
<% end %>
