<div class="fb-block fb-block-text govuk-form-group" data-block-id=" data-block-type="text">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--xl" data-block-id="<%= component.id %>" data-block-property="label" for="<%= component.id %>">
      <%= component.label %>
    </label>
    </h1>
  <div id="<%= component.id %>-hint" class="govuk-hint" data-block-id="<%= component.id %>" data-block-property="hint">
    <p><%= component.hint %></p>
  </div>

  <input class="govuk-input" id="<%= component.id %>" name="<%= component.name %>" type="text" aria-describedby="<%= component.id %>-hint">
</div>
