<% if answered?(component.id) %>
  <h1 class="govuk-heading-xl"><%= input_title %></h1>
  <span class="govuk-hint" id="answers-dog-picture-upload-1-hint" data-fb-default-text="<%= default_text('upload_hint') %>">
    <%= component.hint.present? ? component.hint : default_text('upload_hint') %>
  </span>

  <p><%= @page_answers.send(component.id)['original_filename'] %></p>

  <p>
    <%= link_to 'Remove file', remove_file_path(component.id), method: :delete, class: 'govuk-link' %>
  </p>
<% else %>
  <%= f.govuk_file_field component.id.to_sym,
    label: { text: input_title },
    hint: {
        data: { "fb-default-text" => default_text('upload_hint') },
        text: component.hint.present? ? component.hint : default_text('upload_hint')
      },
    accept: component.validation['accept'],
    disabled: editable?
  %>
<% end %>
