<div class="fb-main-grid-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 id="page-heading" class="govuk-heading-xl"><%= t('presenter.save_and_return.resume.heading', service_name: service.service_name) %></h1>
    <%= form_for @resume_form do |f| %>
      <%= f.govuk_error_summary %>
      <div class="govuk-form-group">
      <%=
        f.govuk_text_field :secret_answer,
        label: { text: f.object.secret_question }
      %>
      </div>
      
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          <%= t('presenter.save_and_return.resume.information') %>
        </strong>
      </div>
      <%= f.govuk_submit t('presenter.save_and_return.resume.continue') %><% end %>
    </div>
  </div>
</div>
