<% if @page.body %>
  <editable-content id="<%= "page[body]" %>"
                          class="fb-editable"
                          type="content"
                          default-content="<%= default_text('body') %>"
                          content="<%= page_body_content %>"
                          data-fb-content-id="<%= "page[body]" %>"
                          data-editor-label-key="aria.optional_content_label"
                          data-editor-description-key="aria.optional_content_description">
              <div class="html">
                <%= to_html(page_body_content) %>
              </div>
  </editable-content>
<%- end %>
