
<div class="govuk-cookie-banner" id="govuk-cookie-banner" data-nosnippet role="region" aria-label="<%= t('presenter.analytics.heading', service_name: service.service_name) %>" data-module="cookie-banner">
  <div class="govuk-cookie-banner__message govuk-width-container" id="govuk-cookie-banner-message-accepted" role="alert" data-cookie-banner-element="message-accepted" hidden>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-cookie-banner__content">
          <p class="govuk-body">
            <%= t('presenter.analytics.confirmation.accepted') %>
          </p>
        </div>
      </div>
    </div>
    <%= render partial: 'metadata_presenter/analytics/hide_cookie_banner' %>
  </div>

  <div class="govuk-cookie-banner__message govuk-width-container" id="govuk-cookie-banner-message-rejected" role="alert" data-cookie-banner-element="message-rejected" hidden>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-cookie-banner__content">
          <p class="govuk-body">
            <%= t('presenter.analytics.confirmation.rejected') %>
          </p>
        </div>
      </div>
    </div>
    <%= render partial: 'metadata_presenter/analytics/hide_cookie_banner' %>
  </div>
</div>
